body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
p{
    color: dimgray;
    text-align: justify;
}
.anchor-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
    color: aliceblue;
}
.dream-area{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#experiences{
margin-left: 5%;
}
#full-stack-developer{
    border-left: 7px orange solid;
    background-color: rgb(209, 239, 251);
}
#baby-developer{
    border-left: 7px solid blue;
    background-color: rgb(209, 239, 251);
}
footer p{
    text-align: center;
}